.angular
dist
node_modules
.env
/.idea/.gitignore
/.idea/AICommit.xml
/.idea/copilot.data.migration.agent.xml
/.idea/copilot.data.migration.ask.xml
/.idea/copilot.data.migration.ask2agent.xml
/.idea/copilot.data.migration.edit.xml
/.idea/gym-frontend.iml
/.idea/material_theme_project_new.xml
/.idea/modules.xml
/.idea/vcs.xml
